.cf {
    width: 300px;
    margin: 55px auto 0;
    position: relative;
}

.fieldset {
    margin: 0;
    padding: 10px;

    border: 1px solid #550000;

    .legend {
        margin: 0 auto;
        color: #550000;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.cf-container {
    padding-top: 5px;
}

// field
.fld-label {
    display: flex;
    flex-direction: row;

    .label {

        label {
            font-size: 12px;
        }
    }

    .e {
        flex-grow: 1;
        position: relative;
    }
}

.fld-input {

    input {
        margin: 0;
        padding: 0 5px 0 5px;

        display: block;

        width: 100%;
        height: 30px;

        box-sizing: border-box;
        border: 1px solid #707070;

        font-size: 12px;
        color: #3b3b3b;

        &::placeholder {
            color: #707070;
            font-size: 12px;
        }

        &:focus {
            outline: 1px solid #0011ff
        }

        &:active {
            color: none;
            outline: none;
        }
    }
}

.error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .message {
        font-size: 10px;
        color: #800000;
    }
}

.error-info {
    // padding-top: 2px;

    .message {
        height: 15px;

        font-size: 10px;
        color: #800000;
        text-align: right;
    }
}

// end field

.cf-flds {

    .fld {
        margin: 2px 0 2px 0;

        &:first-child {
            margin: 0 0 2px 0;
        }

        &:last-child {
            margin: 2px 0 0 0;
        }
    }
}

.sbmt {
    padding-top: 10px;
}

.cf-submit {
    text-align: center;

    .btn {
        display: block;
        width: 100%;

        text-transform: uppercase;
        color: #550000;
        border: 1px solid #550000;
        font-size: 12px;

        margin: 0;
        padding: 5px;
        background: none;

        cursor: pointer;
    }
}


// preloader
.preloader {
    background: #000;

    opacity: 0;
    transition: opacity .2s;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
}

.visible {
    opacity: 1;
}

// end preloader